body{
    margin: auto;
    background-color: #cae9e0 !important;
}
a{
    text-decoration: none;
    color: #fff !important;
}
/*Header Css Starts*/
.form-horizontal{
    background-color: #0eb184;
    width: 100%;
}

.navbar-brand {
    color: #fff;
    display: inline-block;
    font-size: 32px;
    margin-top: 1%;
    font-weight: bolder !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dropbtn {
    display:inline-block;
    width:10%;
    height: 50px;
}
.example{
    display: inline-block;
    width: 34%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 90%;
    background: #f1f1f1;
    height: 50px;
}
  
form.example button {
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 50px;
    margin-left: -1%;
}
.fa-cart-plus{
    font-size: 35px;
    display: inline-block;
    margin-left: 25%;
    color: #fff;
} 