body{
    margin: auto;
    background-color: #cae9e0 !important;
}
a{
    text-decoration: none;
    color: #fff !important;
}
/*Header Css Starts*/
.form-horizontal{
    background-color: #0eb184;
    width: 100%;
}

.navbar-brand {
    color: #fff;
    float: left;
    font-size: 32px;
    font-weight: bolder !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    background-color: #0eb184 !important;
}
.nav-link{
    font-size: 20px;
    margin-left: 4%;
}
.btn{
    height: 35px;
    width: 70px;
}


/*Header Css Ends */

/* Slideshow Css Starts */


.carousel-inner > img{
    height:300px;
    width:100%;
}


/* Slideshow Css Ends */

/* Main Content Css Starts */
.categories{
    margin-top: 2%;
    
}
.categories > p{
    margin-left: 4%;
    color: #39b76b;
    font-size: 30px;
    font-weight: bolder;
}

.categoriesContainer > a{
    float: left;
    margin-left: 1%;
    margin-top: 2%;

}
/* Main Content Css Ends */
