body{
    margin: auto;
    background-color: #cae9e0 !important;
}
a{
    text-decoration: none;
    color: #fff !important;
}
/*Header Css Starts*/
.form-horizontal{
    background-color: #0eb184;
    display: inline-block;
    width: 100%;
    height: auto;

}

.form-horizontal > h1 {
    color: #fff;
    margin-left: 2%;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-control{
    float: left;

}
.navbar{
    background-color: #0eb184 !important;
    font-size: 22px;
    font-weight: bolder;
}

.btn{
    float: right; 
    margin-right: 2%;
}


/*Header Css Ends */

/* Slideshow Css Starts */


.carousel-inner > img{
    height:300px;
    width:100%;
}
#slideshow{
    margin-top: 4.5%;
}

/* Slideshow Css Ends */

/* Main Content Css Starts */
.categories{
    margin-top: 2%;
    
}
.categories > p{
    margin-left: 4%;
    color: #39b76b;
    font-size: 30px;
    font-weight: bolder;
}

.categoriesContainer > a{
    float: left;
    margin-left: 1%;
    margin-top: 2%;

}
/* Main Content Css Ends */
