body{
    margin: auto;
}
.header{
    background-color: #0eb184;
    float: left;

    width: 100%;
    height: 120px;
}
.header > h1 {
    color: #fff;
    margin-left: 2%
}
.select{
    display: inline-block;
    margin-left: 15%;
    margin-top: -4%;
}
select{
    float: left;
    height: 40px;
    width: 150px;
    color:#0eb184 ;
    border-radius: 7px;
}
input{
    height: 40px;
    width: 650px;
    color: grey;
    border-radius: 7px;
    border: 1px solid ;
}
a{
    text-decoration: none;
    color: #fff;
}
.headerContainer{
    font-size: 18px;
    margin-left: 10.5%;
    margin-right: 5%;
    margin-top: 0.5%;
 
}
.heading{
    color: #fff;
    margin-left: 5%;
    background-color: #0eb184;
}
.heading1{
    float: right;
    color: #fff;
    margin-left: 5%;
    background-color: #0eb184;
}
.slideshow{
    height:400px;
    width: 80%;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}