body{
    margin: auto;
    overflow-x: hidden !important;
}
a{
    text-decoration: none;
    color: #fff !important;
}
/*Header Css Starts*/
.form-horizontal{
    background-color: #0eb184;
    width: 100%;
    height: 100px;
}

.navbar-brand {
    color: #fff;
    font-size: 32px;
    float: left;
    margin-top: 1%;
    font-weight: bolder !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.dropbtn {
    float: left;
    margin-top: 1%;
    width:10%;
    height: 50px;
    border: 1px solid grey;
}
.example{
    float: left;
    margin-top: 1% !important;
    width: 34%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 90%;
    background: #f1f1f1;
    height: 50px;
    float: left;
}
  
form.example button {
    width: 10%;
    padding: 10px;
    background: rgb(146, 145, 145);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 50px;
    float: left;
}
.fa-cart-plus{
    font-size: 35px;
    display: inline-block;
    margin-left: 25%;
    color: #fff;
    margin-top: 1%  ;
} 
form.example button:hover {
    background: rgb(167, 164, 164);
}
.btn{
    height: 35px;
    width: 70px;
    display: inline-block;
    margin-left: 2%;
}
/*header css ends*/

/* breadcrumb css starts*/
.breadcrumbContainer{
    margin-left: 6%;
    float: left;
    margin-top: 3% !important;
}
.breadcrumb-item > a{
    font-weight: bold;
    color: grey !important;
}

/* breadcrumb css ends*/
.container1{
    display: inline-block;
    width: 100%;
}
.filter > h3{
    margin-top: 2%;
    color:  #444141;
    margin-left: 1%;
}
.filterContent > h3{
    margin-top: 1%;
    color:  #444141;
    margin-left: 1%;
}
.filter{
    width: 20%;
    height: 500px;
    float: left;
    margin-left: 4%;
}
p > input{
    float: right;
    margin-right: 15%;
    height: 18px;
    width: 18px;
    margin-top: 2%;
}
.filterContent{
    border: 2px solid black;
    width: 65%;
    height: 1000px;
    float: left;
    margin-left: 1%;
    margin-right: 5%;
}
.filterContent > h3{
    float: left;
}
.filterContent > p, select{
    margin-right: 25%;
    float: right;
    margin-top: 2%;
    font-size: 18px;
}
.filterContent > select{
    height: 40px;
    width: 170px;
    margin-right: -30%;
    margin-top: 1%;
}
.row{
    margin-top: 8%;
}
.card-body > h4{
    text-overflow: clip;
}
.offerimg{
    background-image: url(images/deal/offerimg.svg);
    width: 40%;
    font-weight: bold;
    color: #fff;
}
